<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>模板引擎的简洁语法</title>
</head>

<body>
  <input type="button" value="按钮">
  <table border="1">
    <thead>
      <th>姓名</th>
      <th>性别</th>
      <th>年龄</th>
      <th>专业</th>
      <th>地址</th>
    </thead>
    <tbody>

    </tbody>
  </table>
  <script src="/assets/js/jquery-1.12.2.js"></script>
  <script src="/assets/js/template.js"></script>
  <script type="text/template" id="listTmp">
    {{each data as val}}
      <tr>
        <td>{{val.name}}</td>
        {{if val.gender=='男' }}
        <td>靓仔</td>
        {{ else }}
          <td>靓女</td>
        {{/if}}  
        <td>{{val.age}}</td>
        <td>{{val.zhuanye}}</td>
        <td>{{val.address}}</td>
      </tr>
     {{/each}} 
  </script>
  <script>

    // 1. 获取按钮
    var btn = document.querySelector('input')

    // 2. 给事件源注册事件
    btn.onclick = function () {

      // 3. 发送ajax请求
      $.ajax({
        type: 'get',
        url: '/getStudentsJSON',
        dataType: 'json',
        success: function (res) {
          if (res.code == 100) {
            console.log(res);
            var htmlStr = template('listTmp', res)
            console.log(htmlStr);
            $('tbody').html(htmlStr)
          }
        }
      })
    }
  </script>
</body>

</html>