<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>使用FormData对象来上传数据</title>
</head>

<body>
    <form id="myForm">
        用户名: <input type="text" name="userName"><br />
        密　码: <input type="text" name="userPwd"></br>
        <input type="button" value="注册" id="btn">
    </form>
    <script>
        var btn = document.querySelector('#btn');
        var form = document.querySelector('#myForm');
        btn.onclick = function () {
            // 准备上传的数据
            var formData = new FormData(form);
            formData.append('mobile', '15896943909');
            var xhr = new XMLHttpRequest();
            xhr.open('post', 'http://127.0.0.1:3001/register')
            xhr.send(formData);
            xhr.onreadystatechange = function () {
                if (xhr.status == 200 && xhr.readyState == 4) {
                    console.log(xhr.responseText);
                }
            }
        }
    </script>
</body>

</html>