<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>上传文件</title>
</head>

<body>
    <input type="file"><br>
    <img src="" alt="">
    <script>
        var input = document.querySelector('input');
        input.onchange = function () {
            var data = new FormData();
            // 这个不会
            data.append('avatar', this.files[0])
            var xhr = new XMLHttpRequest();
            xhr.open('post', 'http://127.0.0.1:3001/uploadFile')
            xhr.send(data);
            xhr.onreadystatechange = function () {
                if (xhr.status == 200 && xhr.readyState == 4) {
                    var obj = JSON.parse(xhr.responseText);
                    document.querySelector('img').src = obj.src
                }
            }
        }
    </script>

</body>

</html>